#sticky-footer {
  flex-shrink: 0;
  border-top: 1px solid #F6F7F8;
  .footer-top{
    color: #000;

    .descript-footer{
      color: $color-muted;
    }
  }

  .line-white{
    border-top: 1px solid #F6F7F8;
  }
}