// $body-font: 'Roboto', sans-serif;
// $title-font: 'Heebo', sans-serif;
$primary-color  : #71cd14;
$title-color    : #2a2a2a;
$offwhite       : #f6f6f6;
$text-color     : #797979;

$color-red              : #dc3545;
$color-red-fade         : #de4554;
$color-citrus           : #EC5959;
$color-citrus-fade      : #fa5353;
$color-blue             : #33A0FF;
$color-yellow           : #FFC600;
$color-gray             : #999999;
$color-grayBone         : #F8F8F8;
$color-grayBorder       : #ced4da;
$color-green            : #048266;
$color-blackSpace       : #262626;
$color-blackWing        : #332C2C;
$color-blackSmoke       : #646464;
$color-muted            : #797272;


.text-citrus{ color: $color-citrus; }
.text-yellow{ color: $color-yellow; }
.text-gray{ color: $color-gray; }
.text-green{ color: $color-green; }
.text-blue{ color: $color-blue; }
.text-blackSpace{ color: $color-blackSpace; }

.top-left-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.middle-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-left-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.middle-right-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-right-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-left-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.bottom-center-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.item-between {
    display: flex;
    justify-content: space-between;
}