#home-page{
        @import 'about';
        @import 'repurchase';
        @import 'register';
    
        .title-sector{
            font-family: 'Devanagari MT';
            letter-spacing: 1.65px;
            color: #22262A;
            opacity: 0.8;
            font-size: 15px;
        }
        
        .topic-sector{
            font-family: 'Devanagari MT';
            letter-spacing: 3.75px;
            color: #22262A;
            font-size: 33px;
            font-weight: bold;
        }

}


@import 'recommended';
@import 'travel';
